* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  font: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue,
    sans-serif;
}

.covid {
  background-color: #222222;
  padding: 20px 80px;
  text-align: center;
}

.covid a {
  color: #a3a3a3;
  font-size: 14px;
}

header {
  height: 80px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  padding: 0px 80px;
  align-items: center;
  color: white;
  background-color: black;
}

header > div {
  width: 35%;
}

header > div:last-child {
  display: flex;
  justify-content: flex-end;
}

.account span {
  padding: 0.7rem;
  font-weight: 600;
  font-size: 14px;
}

header > nav {
  width: 30%;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  padding: 0 50px;
  font-size: 16px;
  font-weight: 350;
}

#first-section {
  background-color: black;
  height: 100px;
}

main {
  display: flex;
  width: 848px;
  height: 64px;
  margin: auto;
  justify-content: center;
  background-color: white;
  border-radius: 32px;
}

.line {
  border-right: 1px rgb(221, 221, 221) solid;
  height: 32px;
  align-self: center;
}

.location {
  width: 35%;
  padding: 1rem;
  padding-left: 2rem;
}

.checkin,
.checkout {
  width: 20%;
  padding: 1rem;
}

.personnel {
  width: 25%;
  padding: 1rem;
  position: relative;
}

.personnel button {
  position: absolute;
  top: 8px;
  right: 9px;
  width: 48px;
  height: 48px;
  border-radius: 48px;
  border: none;
  background-color: rgb(255, 56, 92);
  text-align: center;
  color: white;
  padding: 1rem;
}

.main-bar-big {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  font-weight: 800;
}

.main-bar-small {
  padding: 0.1rem 0;
  font-size: 14px;
  font-weight: 400;
  color: rgb(113, 113, 113);
}

#second-section {
  width: 100%;
  height: 670px;
  background-color: black;
  position: relative;
}

.wrap-box {
  padding: 0px 80px;
  width: 100%;
  height: 100%;
  max-height: 550px;
  border-radius: 12px;
}

.picture-box {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-position: center center;
  border-radius: 12px;
}

.img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.banner-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 316px;
  height: 201px;
  margin: auto auto;
  color: black;
  gap: 10px;
}

.banner h2 {
  text-align: center;
  font-size: 35px;
  font-weight: 800;
}

.banner > span {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 56px;
}

.banner span button {
  width: 180px;
  height: 56px;
  background-color: transparent;
  border: solid 1px black;
  border-radius: 54px;
  cursor: pointer;
}

.banner span button:hover {
  background-color: #f7f7f7;
}

.banner-button {
  font-size: 1.1rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

h3 {
  color: white;
}

#third-section {
  height: 736px;
}

#forth-section {
  height: 600px;
}

#fifth-section {
  height: 956px;
}

#sixth-section {
  height: 720px;
}

footer {
  height: 400px;
}

.sticky-bar {
  position: fixed;
  bottom: 28px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 124px;
  color: rgb(72, 72, 72);
}

.sticiy-bar-box {
  border-radius: 8px;
  max-width: 1280px;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.28) 0px 8px 28px;
  background-color: #fff;
  padding: 1rem;
}

.sticiy-bar-box {
  display: flex;
}

.text-box {
  padding: 1rem;
  font-size: 0.8rem;
  width: 70%;
  padding-top: 0.6rem;
}

.text-box > span {
  display: flex;
  height: 1.5rem;
}

.text-box span h1 {
  font-size: 1rem;
}

.lock-logo {
  width: 16px;
  height: 16px;
  margin: 0 10px;
  color: rgb(66, 139, 255);
}

.text-box p {
  margin-top: 0.5rem;
  line-height: 1.2rem;
}

.text-box p a {
  color: black;
  font-weight: bold;
}

.button-box {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 10px;
  width: 30%;
  padding: 2rem;
}

.button-box button {
  padding: 1rem;
  height: 48px;
  border-radius: 8px;
  border: 1px solid black;
  font-size: 1rem;
  cursor: pointer;
}

.button-box button:first-child {
  width: 40%;
  background-color: #fff;
}

.button-box button:first-child:hover {
  background-color: rgb(247, 247, 247);
}

.button-box button:nth-child(2) {
  width: 60%;
  background-color: rgb(34, 34, 34);
  color: white;
}
