* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: auto scroll;
}
#covid19 {
  height: 58px;
  background-color: #222222;
  box-shadow: 0px 40px 50px 30px rgba(0, 0, 0, 0.2);
}

div aside {
  text-align: center;
}

div aside a {
  font-size: 14px;
  font-weight: 600;
  white-space: normal;
  text-decoration: underline;
  color: #a3a3a3;
  display: inline-block;
  line-height: 58px;
}

header {
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: relative;
}

main {
  position: absolute;
  top: 0;
  z-index: -1;
  background-color: transparent;
  width: 100%;
  padding: 186px 80px 40px;
  height: 85vh;
}

ul,
ul li {
  display: flex;
}

ul {
  justify-content: space-between;
  padding: 0 80px;
  max-width: 1760px;
  height: 80px;
  line-height: 80px;
  margin: auto;
  background-color: transparent;
}

#logo {
  align-self: center;
  color: white;
}

ul li {
  list-style: none;
}

ul li div {
  padding: 10px;
  align-self: center;
  color: white;
  font-size: 16px;
  font-weight: 400;
}

#acoount-btn {
  width: 77px;
  height: 42px;
  align-items: center;
}

#rooms {
  width: 850px;
  height: 66px;
  background-color: #fff;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 32px;
  font-size: 12px;
  font-weight: 800;
  box-shadow: 0px 10px 30px 10px rgba(0, 0, 0, 0.2);
}

.rooms-small {
  font-size: 14px;
  font-weight: 400;
  color: rgb(113, 113, 113);
}

#rooms > div {
  padding: 14px 32px;
}

#rooms div:nth-child(5) {
  background-color: rgb(255, 56, 92);
  border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
  padding: 16px;
  margin-right: 6px;
}

div svg {
  color: white;
}

#text-box {
  height: 100%;
  min-height: 324px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#text-box div {
  font-size: 18px;
  font-weight: 600;
}

#search_btn {
  padding: 22px 56px;
  outline: none;
  border-radius: 54px;
  font-size: 18px;
  font-weight: 800;
  border-style: none;
  max-width: 500px;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
  margin-top: 20px;
  background-color: white;
  cursor: pointer;
  transition: all ease-out 0.3s;
}

#search_btn:hover {
  box-shadow: 0px 6px 16px 10px rgba(0, 0, 0, 0.12);
}

#search_btn span {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(
    90deg,
    rgb(111, 1, 156) 0%,
    rgb(198, 1, 126) 135.12%
  );
}

img {
  z-index: -2;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  min-height: 550px;
  object-fit: cover;
  object-position: center bottom;
  vertical-align: bottom;
}
