* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Circular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* -------------------- 코로나 관련 aside -------------------- */

.aside {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 50px;
}

.aside a span {
  color: white;
  text-decoration: underline white;
  font-size: 14px;
}

.aside a span:hover {
  color: rgba(255, 255, 255, 0.836);
  text-decoration: underline rgba(255, 255, 255, 0.836);
}

/* -------------------------------------------------------- */

/* ------------------- 헤더 파트 ------------------*/
.header,
.header-left,
.header-center,
.header-right {
  display: flex;
  width: 100%;
  position: relative;
}

.header {
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  height: 80px;
  background-color: black;
}

.header-center {
  justify-content: center;
}

.nav_switcher {
  display: flex;
  color: white;
}

.nav_switcher div {
  width: 60px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav_switcher div input {
  appearance: none;
  position: relative;
  top: 18px;
  width: 4px;
  height: 2px;
  background-color: white;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  border-radius: 0.5px;
  transform: scaleX(0);
}

.nav_switcher div input:hover {
  transform: scaleX(1);
}

.nav_switcher div input:checked {
  transform: scale(4, 1);
}

.nav_switcher div label {
  cursor: pointer;
  position: absolute;
}

.header-center div button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header-center div button span {
  font-size: 16px;
  padding: 10px 16px;
  color: white;
  position: relative;
  height: 40px;
  font-weight: 350;
}

.header-center div button span a {
  color: inherit;
  text-decoration: none;
}

.nav_switcher div label:hover {
  color: rgba(255, 255, 255, 0.836);
}

.header-center div button span:hover {
  color: rgba(255, 255, 255, 0.836);
}

/* 추가 수정 필요함 -> 중앙부터 바가 생겨야하는데 현재는 왼쪽에서 오른쪽으로 늘어나는 구조 -21/12/23 22:21*/
/* tranform 사용하여 해결 -21/12/23 22:38 */
.header-center div button > span:before {
  content: "";
  position: absolute;
  top: 100%;
  left: calc(50% - 1.5px);
  width: 4px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.836);
  transition: 0.2s ease-in-out;
  transform: scaleX(0);
}

.header-center div button > span:hover:before {
  transform: scaleX(1);
}

/* .header-center div button > span:focus:before {
  width: 10px;
  left: 40%;
} */

.header-right {
  justify-content: end;
  align-items: center;
  font-size: 14px;
}

.header-right a span,
.language-btn {
  padding: 12px;
  color: white;
}

.header-right a {
  text-decoration: none;
}

.language-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header-right a span:hover,
.hearder-right div button:hover {
  background-color: rgba(255, 255, 255, 0.164);
  border-radius: 22px;
}

/* 지구본 모양 호버 이펙트 개선 필요... */
/* 21/12/25 23:32 개선 완료 -> 크기 조정 필요 */

.header-right div:nth-child(2):hover {
  background-color: rgba(255, 255, 255, 0.164);
  border-radius: 100%;
}

.account-btn {
  display: flex;
  align-items: center;
  background-color: white;
  border: none;
  border-radius: 22px;
  padding: 5px 5px 5px 12px;
  margin-left: 5px;
  cursor: pointer;
}

.account-btn div:nth-child(2) {
  width: 30px;
  height: 30px;
  color: #717171;
  margin-left: 12px;
}

.small-logo {
  display: none;
}

@media screen and (max-width: 1127px) {
  .header {
    padding: 0 40px;
  }
  .big-logo {
    display: none;
  }
  .small-logo {
    display: block;
  }
  .header-center div button span {
    font-size: 14px;
  }
}

@media screen and (max-width: 950px) {
  .header-center {
    top: 70px;
    z-index: 1;
  }

  .header-center div button span {
    font-size: 16px;
  }
}

/* ------------------------------------------------ */

.section1,
.section2,
.section3,
.section4,
.footer {
  width: 100%;
  height: 50vh;
  position: static;
}

.section1 {
  background-color: black;
}
