* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Circular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* 자바스크립트로 태그의 가시여부를 조작할 id hide */
#hide {
  display: none;
}

.hide {
  display: none;
}

/* -------------------- 코로나 관련 aside -------------------- */

.aside {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 50px;
}

.aside a span {
  color: white;
  text-decoration: underline white;
  font-size: 14px;
}

.aside a span:hover {
  color: rgba(255, 255, 255, 0.836);
  text-decoration: underline rgba(255, 255, 255, 0.836);
}

/* -------------------------------------------------------- */

/* ------------------- 헤더 파트 ------------------*/

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
}

.header {
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  height: 80px;
  background-color: black;
  transition: 0.2s ease all;
}

.header,
.header-left,
.header-center,
.header-right {
  display: flex;
  width: 100%;
  position: relative;
}

.svg-container {
  color: white;
  transition: 0.2s all ease;
}

.header-center {
  justify-content: center;
  position: relative;
}

.nav_switcher {
  display: flex;
  color: white;
}

.nav_switcher div {
  width: 60px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav_switcher div input {
  appearance: none;
  position: relative;
  top: 18px;
  width: 4px;
  height: 2px;
  background-color: white;
  transition: 0.1s ease-in-out;
  cursor: pointer;
  border-radius: 0.5px;
  transform: scaleX(0);
}

.nav_switcher div input:hover {
  transform: scaleX(1);
}

.nav_switcher div input:checked {
  transform: scale(5, 1);
}

.nav_switcher div label {
  cursor: pointer;
  position: absolute;
}

.header-center div button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header-center div button span {
  font-size: 16px;
  padding: 10px 16px;
  color: white;
  position: relative;
  height: 40px;
  font-weight: 350;
}

.header-center div button span a {
  color: inherit;
  text-decoration: none;
}

.nav_switcher div label:hover {
  color: rgba(255, 255, 255, 0.836);
}

.header-center div button span:hover {
  color: rgba(255, 255, 255, 0.836);
}

/* 추가 수정 필요함 -> 중앙부터 바가 생겨야하는데 현재는 왼쪽에서 오른쪽으로 늘어나는 구조 -21/12/23 22:21*/
/* transform 사용하여 해결 -21/12/23 22:38 */
.header-center div button > span:before {
  content: "";
  position: absolute;
  top: 100%;
  left: calc(50% - 1.5px);
  width: 4px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.836);
  transition: 0.2s ease-in-out;
  transform: scaleX(0);
}

.header-center div button > span:hover:before {
  transform: scaleX(1);
}

/* .header-center div button > span:focus:before {
  width: 10px;
  left: 40%;
} */

.header-right {
  justify-content: end;
  align-items: center;
  font-size: 14px;
}

.be-host,
.language-btn {
  padding: 12px;
  color: white;
  border-radius: 22px;
  transition: 0.2s ease all;
}

.header-right a {
  text-decoration: none;
}

.language-btn {
  background-color: black;
  border: none;
  cursor: pointer;
}

.toWhite {
  background-color: white;
}

.be-host:hover,
.language-btn:hover {
  background-color: rgba(141, 141, 141, 0.253);
}

/* 지구본 모양 호버 이펙트 개선 필요... */
/* 21/12/25 23:32 개선 완료 -> 크기 조정 필요 */

.header-right div:nth-child(2):hover {
  background-color: rgba(255, 255, 255, 0.164);
  border-radius: 100%;
}

.account-btn {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #dddddd;
  border-radius: 22px;
  padding: 5px 5px 5px 12px;
  margin-left: 5px;
  cursor: pointer;
}

.account-btn div:nth-child(2) {
  width: 30px;
  height: 30px;
  color: #717171;
  margin-left: 12px;
}

.account-box {
  position: absolute;
  z-index: 4;
  margin-top: 10px;
  right: 0px;
  /* overflow: hidden; */
}

.account-ul {
  list-style: none;
  color: rgb(34, 34, 34);
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px 0.1px #717171;
  padding: 0.5rem 0;
}

.account-li a {
  display: block;
  padding: 12px 132px 12px 15px;
  color: #717171;
}

.account-li:first-child a {
  font-weight: 600;
}

.account-li a:hover {
  background-color: #f5f5f5;
}

.dividing-line {
  border-top: 1px solid #dddddd;
  margin: 0.5rem 0px;
}

.small-logo {
  display: none;
}

@media screen and (max-width: 1127px) {
  .header {
    padding: 0 40px;
  }
  .big-logo {
    display: none;
  }
  .small-logo {
    display: block;
  }
  .header-center div button span {
    font-size: 14px;
  }
}

@media screen and (max-width: 950px) {
  .header-center {
    top: 70px;
    z-index: 1;
  }

  .responsive_div {
    height: 70px;
    width: 100%;
    background-color: black;
  }

  .header-center div button span {
    font-size: 16px;
  }
}

/* ------------------------------------------------ */

/* ------------------- main nav -------------------*/

.main_nav_container {
  background-color: black;
  height: 66px;
}
.main_nav {
  max-width: 850px;
  height: 100%;
  margin: 0 auto;
}

/* stay nav in main nav */
.nav_for_stay,
.nav_for_exp {
  display: flex;
  align-items: center;
  background-color: #fff;
  position: relative;
  height: 100%;
  font-size: 12px;
  border-radius: 32px;
}

.nav_for_stay div > span,
.nav_for_exp div > span {
  font-weight: 600;
}

.nav_for_stay div > p,
.nav_for_exp div > p {
  color: #717171;
  line-height: 25px;
  font-size: 14px;
  font-weight: 400;
}

.nav_for_stay div,
.nav_for_exp div {
  height: 100%;
}

.nav_for_stay div:nth-child(odd),
.nav_for_exp div:nth-child(odd) {
  cursor: pointer;
}

.nav_for_stay .location {
  flex: 1.5 0 0%;
  padding: 14px 32px;
}

.nav_for_exp .location {
  flex: 1 0 0%;
  padding: 14px 16px 14px 32px;
}

.location input {
  border: none;
  padding: 5px 0;
  background-color: transparent;
  outline: none;
}
.nav_for_stay div:nth-child(odd):hover,
.nav_for_exp div:nth-child(odd):hover {
  background-color: #f3efef;
  border-radius: 32px;
}

.nav_for_stay div:nth-child(3),
.nav_for_stay div:nth-child(5),
.nav_for_exp div:nth-child(3) {
  flex: 1 0 0%;
  padding: 14px 24px;
}

.nav_for_stay div:nth-child(7) {
  flex: 0.5 0 auto;
  display: flex;
  padding: 14px 24px;
}

.nav_for_exp div:nth-child(3) {
  display: flex;
}

.nav_for_stay div:nth-child(7) > div,
.nav_for_exp div:nth-child(3) > div {
  flex: 1 0 0;
}

.nav_for_stay div:nth-child(7) div:nth-child(2) {
  flex: 0 0 auto;
  position: relative;
  top: -4px;
  left: 15px;
}

.nav_for_exp div:nth-child(3) div:nth-child(2) {
  flex: 0 0 auto;
  position: relative;
  top: -4px;
  left: 15px;
}

.nav_div_bar {
  height: 32px !important;
  border-right: 1px solid #dddddd;
  align-self: center;
  flex: 0 0 0px;
}

.nav_bar_search_btn button {
  position: relative;
  border-radius: 24px;
  width: 48px;
  height: 48px;
  border: none;
  background-color: #ff385c;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: cubic-bezier(0.35, 0, 0.65, 1) 0.2s;
  z-index: 2;
  vertical-align: middle;
  user-select: auto;
}

.nav_bar_search_btn button:hover {
  background-color: #e41d54;
}

/* ---------------- section1 start ---------------- */

.section1 {
  position: relative;
}

.section1-container {
  position: relative;
  width: 100%;
  height: 736px;
  padding-bottom: 96px;
  max-width: calc(min(1760px, 100%) - 160px);
  margin: 0 auto;
}

.image-container {
  position: absolute;
}

.section1-search-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section1-search {
  position: absolute;
  text-align: center;
  z-index: 1;
}

.section1-search h1 {
  margin-top: 250px;
  font-size: 48px;
  font-weight: 600;
  line-height: 55px;
}

.section1-search span {
  display: inline-block;
  margin-top: 20px;
}

.section1-search span a {
  text-decoration: none;
  padding: 14px 32px;
  font-size: 18px;
  font-weight: 800;
  line-height: 28px;
  border-radius: 1000px;
  background-color: #fff;
  width: auto;
}

/* ---------------- section1 end ---------------- */

/* ---------------- section2 start ---------------- */

.section2 {
  padding-top: 96px;
  padding-bottom: 48px;
}

.section2 > div {
  max-width: calc(min(1760px, 100%) - 160px);
  margin: 0 auto;
}

.section2 > div:first-child {
  padding-bottom: 48px;
}

.section2 div:first-child span h2 {
  font-size: 42px;
  font-weight: 600;
}

.ideas-container {
  display: flex;
  gap: 15px;
}

.ideas {
  flex: 1 0 0%;
  display: flex;
  flex-flow: column;
  min-height: 400px;
  position: relative;
  cursor: pointer;
}

.ideas > div {
  flex: 1 0 0%;
  position: relative;
}

.ideas-images {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.ideas-container > div > div:nth-child(2) {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 24px 16px 16px;
  max-height: 200px;
  color: white;
  font-size: 35px;
  font-weight: 600;
}

.ideas-container > div:nth-child(1) > div:nth-child(2) {
  background-color: rgb(204, 45, 74);
}

.ideas-container > div:nth-child(2) > div:nth-child(2) {
  background-color: rgb(188, 26, 110);
}
.ideas-container > div:nth-child(3) > div:nth-child(2) {
  background-color: rgb(217, 59, 48);
}
.ideas-container > div:nth-child(4) > div:nth-child(2) {
  background-color: rgb(222, 49, 81);
}

/* ---------------- section2 end ---------------- */

/* ---------------- section3 start ---------------- */

.section3 {
  max-width: calc(min(1760px, 100%) - 160px);
  margin: 0 auto;
  padding-bottom: 60px;
}

.section3-title h2 {
  font-size: 42px;
  font-weight: 600;
  padding-bottom: 48px;
}

.section3-cards {
  display: flex;
  position: relative;
  gap: 25px;
  min-height: 750px;
}

.section3-cards > div {
  flex: 1;
  position: relative;
}

.ideas div picture > img {
  width: 100%;
  height: 100%;
}

.text-container {
  position: absolute;
  z-index: 1;
  min-width: 600px;
  min-height: 750px;
  padding: 80px;
  color: white;
}

.text-container div > span {
  font-size: 53px;
  font-weight: 600;
  text-align: start;
}

.text-container > div:nth-child(1) {
  padding-bottom: 24px;
}

.text-container > div:nth-child(2) {
  margin-top: 16px;
}

.text-container div > a {
  padding: 14px 24px;
  background-color: white;
  border-radius: 8px;
  color: black;
  text-decoration: none;
}

.text-container div > a:hover {
  background-color: #dddddd;
}

.picture-container {
  position: relative;
}

/* ---------------- section3 end ---------------- */

/* ---------------- section4 start ---------------- */

.section4 {
  max-width: calc(min(1760px, 100%) - 160px);
  margin: 0 auto;
  padding-bottom: 48px;
}

.section4-container {
  width: 100%;
  height: 680px;
  position: relative;
}

.image-container4 {
  position: absolute;
  width: 100%;
  height: 100%;
}

.text-container4 {
  position: absolute;
  color: white;
  padding: 80px;
  width: 100%;
  height: 100%;
}

.text-container4 > div:nth-child(1) {
  padding-bottom: 150px;
}

.text-container4 > div h2 {
  font-size: 95px;
  font-weight: 600;
  line-height: 105px;
  /* white-space: pre-line; */
}

.text-container4 > div a {
  padding: 14px 24px;
  background-color: white;
  text-decoration: none;
  color: black;
  border-radius: 10px;
}

.text-container4 > div a:hover {
  background-color: rgb(221, 221, 221);
}

/* ---------------- section4 end ---------------- */

/* ---------------- footer ---------------- */

footer {
  background-color: rgb(247, 247, 247);
  padding: 0 80px;
  width: 100%;
}

.footer-container {
  margin: 0 auto;
  max-width: 1120px;
}

.footer-part1 {
  display: flex;
  justify-content: space-between;
  padding: 48px 0;
}

.footer-part1-section {
  flex: 1 0 0%;
}

.footer-part1-section div span {
  font: 14px;
  font-weight: 600;
}

.footer-part1-section li {
  list-style: none;
  margin-top: 20px;
}

.footer-part1-section li:hover {
  text-decoration: underline;
}

.footer-part1-section li a {
  font-size: 14px;
  font-weight: 400;
  color: rgb(34, 34, 34);
  text-decoration: none;
}

.footer-part2 {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgb(221, 221, 221);
  padding: 24px 0;
}

.footer-part2 div {
  display: flex;
}

.footer-part2 div a {
  text-decoration: none;
}

.footer-part2-left div {
  color: rgb(34, 34, 34);
  font-size: 14px;
  font-weight: 400;
}

@media screen and (max-width: 1206px) {
  .footer-part2 .footer-part2-left {
    display: block;
  }
}

.footer-part2-left div span {
  display: inline-block;
  width: 19px;
  text-align: center;
}

.footer-part2-left div a {
  color: rgb(34, 34, 34);
}

.footer-part2-right > div span:nth-child(2n-1) {
  margin-right: 10px;
  cursor: pointer;
}

.footer-part2-right > div span:nth-child(2n) {
  margin-right: 24px;
  text-decoration: underline;
  cursor: pointer;
}

.footer-link-icons ul {
  list-style: none;
  display: flex;
}

.footer-link-icons ul li {
  margin-right: 24px;
}

.footer-link-icons ul li a {
  color: black;
}

.section1 {
  background-color: black;
  padding-top: 30px;
  color: white;
}
